@font-face {
    font-family: rubik;
    src: url("../polices/Rubik/Rubik-VariableFont_wght.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: rubik, serif;
}

h1{
    color: #0a6ad9;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    justify-content: space-between;

}

.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

.menu-hamburger {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu-hamburger button {
    width: 100%;
    padding: 10px;
    background-color:transparent;
    border: none;
    color: #0a6ad9;
    text-align: center;
}

.menu button{
    color: #0a6ad9;
}
.ligne {
    height: 2px;
    background-color: #0a6ad9;
    width: 100%;
    margin: 20px 0;
}

.logo {
    margin-right: 20px;
    width: 250px;
    height: auto;
}


.menu {
    display: flex;
    gap: 15px;
}

.menu-bouton {
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-right: 45px;
}

.menu-bouton.special {
    background-color: #d86c5c;
    color: white;
    border-radius: 15px;
}
.menu-bouton.special a{
    text-decoration: none;
    color: white;
}


.menu-bouton:hover {
    transition-duration: 13s;
    border: 1px solid #0a6ad9;
    border-radius: 15px;
}

.menu-bouton.special:hover {
    background-color: #dc8878;
    transition-duration: 1s;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px rgba(0, 0, 0, 0.1);
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    background-color: white;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.btn {
    height: 35px;
    background: rgba(76, 68, 182, 0.808);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
}
.message{
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border: 1px solid #699053;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}

.footer{
    background-color: #d86c5c;
    padding: 70px 0;
}
.footer .container{
    max-width: 1170px;
    margin: auto;
}
.footer .container .row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer .container ul {
    list-style: none;
}
.footer-col h4{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 10px;
}
.footer-col img{
    width: 40%;
    margin: 40px;
}
.footer-col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.footer-col form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}
.footer-col form input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
}
.footer-col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.footer-col form button .fa-solid{
    font-size: 16px;
}
.footer-copyright{
    margin-left: 50px;
}

@media (max-width: 1000px) {
    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .menu-hamburger {
        display: block;
    }
}

@media (max-width: 900px) {
    footer {
        display: block;
    }

    .footer-section {
        width: 100%;
        margin-bottom: 20px;
    }
}