@font-face {
    font-family: rubik;
    src: url("../polices/Rubik/Rubik-VariableFont_wght.ttf");
}

.logo {
    height: 200px;
    width: 350px;
    margin-left: 5%;
}

.haut{
    font-family: rubik;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 50px;
}
body{
    background-color: black;
    font-family: rubik;
}

h1{
    color: #0a6ad9;
}



header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    justify-content: space-between;

}


.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

.menu-hamburger {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu-hamburger button {
    width: 100%;
    padding: 10px;
    background-color:transparent;
    border: none;
    color: #0a6ad9;
    text-align: center;
}

.menu button{
    color: #0a6ad9;
}
.ligne {
    height: 2px;
    background-color: #0a6ad9;
    width: 100%;
    margin: 20px 0;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
}


.menu {
    display: flex;
    gap: 15px;
}


.menu-bouton {
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-right: 45px;
}


.menu-bouton.special {
    background-color: #d86c5c;
    color: white;
    border-radius: 15px;
}
.menu-bouton.special a{
    text-decoration: none;
    color: white;
}


.menu-bouton:hover {
    transition-duration: 13s;
    border: 1px solid #0a6ad9;
    border-radius: 15px;
}

.menu-bouton.special:hover {
    background-color: #dc8878;
    transition-duration: 1s;
}

.formulaire{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.formulaire label{
    color: #0a6ad9;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    max-width: 250px;
    color: black;
    padding-top: 10px;
    margin-left: 10px;
}


#inscriptionForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.email-input, .password-input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.email-input:focus, .password-input:focus {
    border-color: #d86c5c;
}

.subscribe-button {
    padding: 10px 20px;
    background-color: #d86c5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.subscribe-button:hover {
    background-color: #dc8878;
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #d86c5c;
    color: black;
    font-family: rubik;
    font-size: 20px;
    flex-wrap: wrap;
}

#date{
    padding-top: 120px;
}

.footer-logo {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}


.footer-section a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: black;
}


.email-input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.subscribe-button {
    padding: 8px 15px;
    background-color: #d86c5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
}

.subscribe-button:hover {
    background-color: #dc8878;
}


.search-container {
    text-align: right;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

#searchInput:focus {
    border-color: #d86c5c;
}


.logo {
    width: 250px;
    height: auto;
}

.footer-logo {
    width: 250px;
    height: auto;
}

.footer-section{
    margin-right: 10%;
    margin-left: 5%;
}


@media (max-width: 1000px) {
    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .menu-hamburger {
        display: block;
    }
}

@media (max-width: 900px) {
    footer {
        display: block;
    }

    .footer-section {
        width: 100%;
        margin-bottom: 20px;
    }


    .fichiers {
        flex: 0 0 50%;
    }


}


@media (max-width: 740px) {
    .conteneur-fichiers {
        justify-content: center;
    }

    .fichiers {
        flex: 0 0 100%;
        justify-content: center;
    }
}