@font-face {
    font-family: rubik;
    src: url("../polices/Rubik/Rubik-VariableFont_wght.ttf");
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    justify-content: space-between;

}


.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

.menu-hamburger {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu-hamburger button {
    width: 100%;
    padding: 10px;
    background-color:transparent;
    border: none;
    color: #0a6ad9;
    text-align: center;
}

.menu button{
    color: #0a6ad9;
}


.logo {
    height: 200px;
    width: 350px;
    margin-left: 5%;
}

.menu {
    display: flex;
    gap: 15px;
}


.menu-bouton {
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-right: 45px;
}


.menu-bouton.special {
    background-color: #d86c5c;
    color: white;
    border-radius: 15px;
}
.menu-bouton.special a{
    text-decoration: none;
    color: white;
}







body {
    font-family: Rubik;
    margin: 20px;
    background-color: black;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    text-align: center;
    color: #0a6ad9;
}

.chart-container {
    width: 80%; /* Limite la largeur totale de chaque conteneur de graphique */
    max-width: 70vh; /* Taille maximale pour éviter que les graphiques ne grandissent trop */
    height: 50vh; /* Hauteur fixe pour chaque graphique */
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

canvas {
    max-width: 100%; /* Empêche le dépassement de la largeur du conteneur */
    max-height: 90%; /* Empêche le dépassement de la hauteur définie */
}
