@font-face {
    font-family: rubik;
    src: url("../polices/Rubik/Rubik-VariableFont_wght.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: rubik, serif;
}
.footer{
    background-color: #e17e59;
    padding: 70px 0;
}
.footer .donation-conteneur{
    max-width: 1270px;
    margin: auto;
}
.footer .donation-conteneur .row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer .donation-conteneur ul {
    list-style: none;
}
.footer-col h4{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 10px;
}
.footer-col img{
    width: 40%;
    margin: 40px;
}
.footer-col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.footer-col form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}
.footer-col form input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
}
.footer-col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.footer-col form button .fa-solid{
    font-size: 16px;
}
.footer-copyright{
    margin-left: 50px;
}

@media (max-width: 900px) {
    footer {
        display: block;
    }

    .footer-section {
        width: 100%;
        margin-bottom: 20px;
    }
}