@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Rubik', sans-serif;
}

h1{
    color: #0a6ad9;
}


header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    justify-content: space-between;
}

.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

.menu-hamburger {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu-hamburger button {
    width: 100%;
    padding: 10px;
    background-color:transparent;
    border: none;
    color: #0a6ad9;
    text-align: center;
}

.menu button{
    color: #0a6ad9;
}


.logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
}


.menu {
    display: flex;
    gap: 15px;
}


.menu-bouton {
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-right: 45px;
}


.menu-bouton.special {
    background-color: #d86c5c;
    color: white;
    border-radius: 15px;
}
.menu-bouton.special a{
    text-decoration: none;
    color: white;
}


.menu-bouton:hover {
    transition-duration: 13s;
    border: 1px solid #0a6ad9;
    border-radius: 15px;
}

.menu-bouton.special:hover {
    background-color: #dc8878;
    transition-duration: 1s;
}

.navbar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    transition: all 0.3s ease;
}

.navbar a:hover{
    color: #0000FF;
}

.navbar .logo {
    width: 230px;
    height: auto;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 30px;
}

.navbar .nav-links ul li.active a{
    color: white;
    font-weight: 600;
    font-size: 1.6em;
    background-color: red;
    padding: 8px 10px;
    border-radius: 15px;
    display: inline-block;
    transition: all 0.3s ease;
}

.navbar .nav-links ul li.active a:hover{
    background-color: darkred;
}

.navbar button{
    display: none;
}

.navbar .fa-solid{
    display: none;
    color: white;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 40px;
}

.carousel-item img {
    filter: blur(1px) brightness(70%);
}

.carousel-caption-left {
    padding-bottom: 50px;
}

.carousel-item .btn {
    color: white;
    background-color: #0000FF;

}

.article-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fdfbf8;
    padding: 75px 0 75px 0;
}

.article-container h1{
    position: absolute;
    color: #0000FF;
    font-weight: bold;
}

.article{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 120px 20px 20px 20px;

}

.article img{
    width: 100%;
    height: auto;
}

.article-content{
    padding: 16px;
}

.article-content h3{
    font-size: 28px;
}

.article-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.article-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: white;
}

.stats-container{
    padding: 75px 20px 75px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 220px;
}

.stats {
    display: flex;
    font-family: 'Lobster Two', sans-serif;
    margin: 70px 0;
}

.stats h1{
    font-size: 6em;
    color: #498BB0;
}

.stats-text {
    margin: 0 50px 0 20px;
    width: 300px;
}

.stats p {
    font-size: 2em;
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #d86c5c;
    color: black;
    font-family: rubik;
    font-size: 20px;
    flex-wrap: wrap;
}

#date{
    padding-top: 120px;
}

.footer-logo {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.footer-section{
    margin-right: 10%;
    margin-left: 5%;
}

.footer-section a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: black;
}


.email-input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.subscribe-button {
    padding: 8px 15px;
    background-color: #d86c5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
}

.subscribe-button:hover {
    background-color: #dc8878;
}


.search-container {
    text-align: right;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

#searchInput:focus {
    border-color: #d86c5c;
}


.logo {
    width: 250px;
    height: auto;
}

.footer-logo {
    width: 250px;
    height: auto;
}



@media screen and (max-width:  1300px){
    .navbar{
        padding: 0;
    }

    .navbar .fa-solid{
        display: block;
    }

    .navbar button{
        display: block;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255,255,255,0.2);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }

    .navbar .logo {
        position: absolute;
        top: 50px;
        left: 50px;
    }
}

@media(max-width: 800px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}